*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #2563eb;
  --dark: #0f172a;
  --light: #f8fafc;
  --gray: #64748b;
}

body{
    font-family: "segoe UI", Arial, Helvetica, sans-serif;
    background-color: var(--light) ;
    color: var(--dark);
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

button{
    border: none;
    cursor: pointer;
    font-family: inherit;
}