.todo-container{
    max-width: 450px;
    margin:50px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', sans-serif;
}

h1{
    color: #2d3436;
    font-size: 2rem;
    margin-bottom: 25px;
    text-align: center;
}

.input-group{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.input-group input{
    flex: 1;
    padding: 12px 15px;
    border: 2px solid #dfe6e9;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus{
    border-color:#6c5ce7;
}

.input-group button{
    padding: 10px 20px;
    background-color: #6c5ce7;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
}

.input-group button:hover{
    background-color:#a29bfe;
}

.todo-list{
    list-style: none;
    padding: 0;
}

.todo-item{
    background: #f9f9f9;
    padding: 12px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0,2s;
    border-left:4px solid #6c5ce7;
}

.delete-btn{
    background: none;
    border: none;
    color: #ff7675;
    font-size:1.5rem;
    cursor: pointer;
    line-height: 1;
}

.delete-btn:hover{
    color:#d63031;
}

.empty-state{
    text-align: center;
    color: #b2bec3;
    font-style: italic;
}